#header {
    display : flex;
}

#titulo {
    color: #426B1F;
    font-size: 32px;
    font-family: 'Newsreader', serif;
    left: 20px;;

}

#gra-nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 20px;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    font-weight: regular;
    font-size: 16px;
    list-style: none;
}

#individual {
    margin-right: 20px;
}

#botao {
    width: 126px;
    height: 48px;
    background-color: #426B1F;
    border: none;
    border-radius: 8px
}

.produtos-header {
    display: flex;
    flex-direction: row;
    justify-content: left
}

.agrupador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 10px;
}

.button {
    width: 88px;
    height: 40px;
    margin-left: 5px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
}

.button:hover {
    background-color: #426B1F;
    color: #fff;
}

.produtos-container {
    display: flex;
    flex-direction: row;
}

.caixa {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #FAFAF5;
    margin-left: 15px;
    border: 1px solid #7a7a7a;
    border-radius: 20px;
    width: 450px;
}

.caixa img {
    border-radius: 20px;
}

.textos {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 10px;
}

#subtitulo {
    font-family: 'Newsreader', serif;
}

#extra-subtitulo {
    font-family: 'Inter', sans-serif;
}

#preco {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #426B1F;
    font-weight: 600;
}

.produtos-info {
    display: flex;
    flex-direction: row;
    
}